.list {
  list-style-position: inside;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;

  &.unordered {
    list-style-type: none;
  }

  &.ordered {
    list-style-type: decimal;
  }

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }
}
